<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->  
<mapper namespace="smm.springboot_ftl.mapper.UserMapper">

	<!-- insert user -->
	<insert id = "insert" parameterType="smm.springboot_ftl.bean.User">
		INSERT INTO USER(ID,USERNAME,PASSWORD,AGE) VALUES(#{id},#{username},#{password},#{age});
	</insert>
	
	<!-- update user -->
	<update id="update" parameterType="smm.springboot_ftl.bean.User">
		UPDATE USER SET USERNAME=#{username} , PASSWORD=#{password} , AGE = #{age} WHERE ID=#{id}
	</update>
	
	<!-- find user -->
	<select id="find" parameterType="int" resultType="smm.springboot_ftl.bean.User">
		SELECT id,username,passworld,age
 FROM user WHERE id=#{id}
	</select>
	
	<!-- delete user -->
	<delete id="delete" parameterType="int">
		DELETE FROM USER WHERE ID=#{0}
	</delete>
	<insert id = "addMap" >
		INSERT INTO proj_map  VALUES(
		null,
		#{address},
		#{department},
		#{lng},
		#{lat},
		#{color},
		#{state},
		#{num},
		#{group},
		#{createDate}
);
	</insert>
	<select id="findMap" resultType="java.util.HashMap">
		SELECT * FROM proj_map where
		1=1
		<if test="department != null and department != '' ">
			AND department=#{department}
		</if>
		<if test="groupBy != null and groupBy != '' ">
			AND groupBy=#{groupBy}
		</if>
		<if test="state != null and state != '' ">
			AND state=#{state}
		</if>
        ORDER BY num ASC
	</select>

    <select id="findDepart"  resultType="java.lang.String">
        SELECT department FROM proj_map
        where 1=1
        <if test="department != null and department != '' ">
            AND department=#{department}
        </if>
        GROUP BY department
    </select>

	<select id="findMark"  resultType="java.util.HashMap">
		SELECT * FROM proj_map
		where num=2
		<if test="department != null and department != '' ">
			AND department=#{department}
		</if>
		GROUP BY groupBy
	</select>

    <select id="findGroupBy"  resultType="java.lang.String">
        SELECT groupBy FROM proj_map
        where 1=1
        <if test="department != null and department != '' ">
            AND department=#{department}
        </if>
        GROUP BY groupBy
    </select>

</mapper>